
body {
	font-family: sans-serif;
	height: 100%;
	background: #000;
}

#video {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
}

#install {
	position: fixed;
	padding: 10px;
	width: 100px;
	margin-left: -55px;
	left: 50%;
	bottom: 10px;
	color: white;
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
	text-decoration: none;
}
